.my-template {
  margin: 60px 0;
}
.my-template .tel-content {
  width: 1000px;
  margin: 0 auto;
}
.my-template .tel-content .left-content {
  width: 700px;
  float: left;
}
.my-template .tel-content .left-content .content-header {
  height: 50px;
  background-color: #ffffff;
}
.my-template .tel-content .left-content .content-header li {
  display: inline-block;
  height: 50px;
  margin-left: 20px;
  line-height: 50px;
  float: left;
  text-align: center;
}
.my-template .tel-content .left-content .content-header li:hover {
  border-bottom: 2px solid cornflowerblue;
}
.my-template .tel-content .left-content .showImg {
  margin-bottom: 20px;
}
.my-template .tel-content .left-content .showImg img {
  width: 100%;
  height: 200px;
}
.my-template .tel-content .left-content .my-cell {
  width: 100%px;
  margin-top: 30px;
}
.my-template .tel-content .left-content .operatorBar {
  margin: 30px 0;
  background-color: #ffffff;
}
.my-template .tel-content .left-content .operatorBar li {
  float: left;
  width: 33.3%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 10px;
}
.my-template .tel-content .left-content .operatorBar li:nth-child(2) {
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
}
.my-template .tel-content .right-content {
  width: 260px;
  margin-left: 40px;
  float: left;
}
.my-template .tel-content .right-content .currentLogin {
  margin-top: 20px;
  background-color: #ffffff;
  min-height: 280px;
  width: 100%;
  padding: 5px 10px;
}
.my-template .tel-content .right-content .currentLogin p {
  border-left: 3px solid #00b7ee;
  padding-left: 10px;
  height: 15px;
  line-height: 15px;
  font-size: 14px;
}
.my-template .tel-content .right-content .currentLogin .userList {
  margin-top: 5px;
}
.my-template .tel-content .right-content .currentLogin .userList li {
  float: left;
  width: 70px;
  height: 70px;
  position: relative;
  margin: 10px 10px 0 0;
}
.my-template .tel-content .right-content .currentLogin .userList li img {
  width: 100%;
}
.my-template .tel-content .right-content .currentLogin .userList li span {
  position: absolute;
  display: inline-block;
  width: 100%;
  bottom: 0;
  left: 0;
  line-height: 20px;
  background-color: grey;
  opacity: 0.7;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
}
.my-template .tel-content .right-content .currentPay {
  margin-top: 20px;
  background-color: #ffffff;
  min-height: 200px;
  width: 100%;
  padding: 5px 10px;
}
.my-template .tel-content .right-content .currentPay p {
  border-left: 3px solid #00b7ee;
  padding-left: 10px;
  height: 15px;
  line-height: 15px;
  font-size: 14px;
}
.my-template .tel-content .right-content .currentPay .pay {
  margin-top: 25px;
  display: flex;
  padding-bottom: 15px;
  justify-content: space-around;
}
.my-template .tel-content .right-content .currentPay .pay span {
  width: 33%;
  display: inline-block;
  text-align: center;
  font-size: 14px;
}
