.rankCell {
  width: 260px;
  height: 70px;
  padding: 0 5px;
  border-bottom: 1px solid #f2f2f2;
}
.rankCell .left {
  float: left;
  height: 70px;
  line-height: 70px;
}
.rankCell .left img {
  margin-top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
.rankCell .middle {
  float: left;
  margin-top: 0;
  padding: 10px 5px 5px;
}
.rankCell .middle p {
  height: 20px;
  font-size: 14px;
}
.rankCell .middle p:nth-child(2) {
  margin-top: 10px;
  font-size: 12px;
  color: darkgray;
}
.rankCell .right {
  float: right;
  text-align: right;
  padding-top: 8px;
}
.rankCell .right span {
  font-size: 12px;
  line-height: 10px;
}
.rankCell .right span:nth-child(2) {
  color: red;
}
.rankCell .right div {
  margin-top: 5px;
  background-color: lightseagreen;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  height: 25px;
  line-height: 25px;
  letter-spacing: 1px;
  cursor: pointer;
}
